.product.disabled td {
  background-color: #cccccc;
  cursor: not-allowed;
  color:rgb(138, 132, 132);
  }
  .product.disabled td button{
    cursor: not-allowed;
  }
  .item.highlighted{
    background-color: #ffffb9;
  }